<main>
    <section id="create-container">
        <div class="create-container-info">
            <h1>Create Task</h1>
            <h4>Fill the following fields to create a task</h4>
            <form method="POST">
                <label>Title:</label>
                <input type="text" id="title" name="title" placeholder="To do...">
                <label>Description:</label>
                <textarea id="description" name="description" placeholder="Describe task"></textarea>
                <label>Assign to:</label>
                <select id="assignee" name="assignee">
                    {{#each employees}}
                    {{>assignee}}
                    {{/each}}
                </select>
                <label>Due date:</label>
                <input type="date" id="dueDate" name="dueDate" min="2000-01-01">
                <input type="submit" id="btn" value="Add Task" />
            </form>
        </div>
    </section>
</main>