<main>
    <section id="edit-container">
        <div class="edit-container-info">
            <h1>Edit Announcement</h1>
            <form method="POST">
                <label>Title:</label>
                <input type="text" id="title" name="title" value="{{task.title}}" required>
                <label>Description:</label>
                <textarea id="description" name="description" required>{{task.description}}</textarea>
                <label>Assign to:</label>
                <select id="assignee" name="assignee" required>
                    {{#each employees}}
                    {{>assignee}}
                    {{/each}}
                </select>
                <label>Due date:</label>
                <input type="date" id="dueDate" name="dueDate" min="2000-01-01" required>
                <input type="submit" id="btn" value="EDIT"></input>
            </form>
        </div>
    </section>
</main>