<main>
    <section class="crypto-market">
        <h1><span>Tasks</span></h1>
        <a href="/tasks/create" class="add">Add Task</a>
        {{#if tasks}}
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-header-task">Task</th>
                        <th class="table-header-status">Status</th>
                        <th class="table-header-assignee">Assignee</th>
                        <th class="table-header-details">Details</th>

                    </tr>
                </thead>
                {{#each tasks}}
                {{>taskTableRow}}
                {{/each}}
            </table>

        </div>


        {{else}}
        <div class="no-employee">
            <p>There are no current tasks!</p>
        </div>


        {{/if}}
    </section>

</main>